<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>hello world</h1>

    <% categiries.forEach(function(category,index){ %>
        <div>
            <img src="<%= category.image %>" alt="">
        </div>
            <h4><%=category.name%></h4>
            <%})%>
    <div>
        <h2>最新加盟五家</h2>
        <img src="" alt=""><h2>餐馆名字</h2>
    </div>
    <div>
        <h2>最受欢迎的五家</h2>
        <img src="" alt=""><h2>餐馆名字</h2>
    </div>
    <div>
        <h2>最新加盟火锅店</h2>
        <img src="" alt=""><h2>餐馆名字</h2>
    </div>
    <div>
        <h2>最新加盟西餐厅</h2>
        <img src="" alt=""><h2>餐馆名字</h2>
    </div>
    <div>
        <h2>最新加盟烧烤店</h2>
        <img src="" alt=""><h2>餐馆名字</h2>
    </div>
</body>
</html>