<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    <section>
        <div class="container">
            <h2>关于我</h2>
            <ul>
                <li>性别:男</li>
                <li>爱好:电脑,游泳</li>
                <li>擅长:写代码</li>
                <li>座右铭:做能做的事情</li>
                <li></li>
            </ul>
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>
</body>
</html>