/* 重置浏览器默认样式 */
*{
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
img{
	display: block;
}

/*  */
#slider{
	width:640px;
	height:340px;
	margin:50px auto;
	position: relative;
}
.title,.btn,.sn{
	position:absolute;
}
.title{
	/* background-color: hsla(0,100%,50%,1); */
	background-image: linear-gradient( hsla(0,100%,0%,0), hsla(0,100%,0%,1));
	left:0;
	bottom:0;
	width:calc(100% - 20px); /**/
	height:90px;
	line-height: 90px;
	color:#fff;
	font-size:1.2rem;
	padding:0 10px;
}
.btn{
	/* background-color:hsla(60,100%,50%,1) ; */
	width:80px;
	height:100px;
	line-height: 160px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	
}
.btn-l{
	left:0;
	top:50%;
	transform: translateY(-50%);
	/* background-position: 0 -164px ; */
	background-position: -260px -164px ;
	text-indent:-20px;
}
.btn-l:hover{
	background-position: 0 -164px ;
}
.btn-r{
	right:0;
	top:50%;
	transform: translateY(-50%);
	/* background-position: -310px 0 ; */
	background-position: -130px -164px ;
	text-indent: 20px;
}
.btn-r:hover{
	background-position: -310px 0 ;
}
.squares{
	/* background-color:hsla(60,00%,50%,1) ; */
	right:0;
	bottom:0;
	border:1px solid black;
	height:7px;
	line-height: 7px;
	/*width:175px; */
	position:absolute;
	right:10px;
	bottom:15px;
}
.squares li{
	display: inline-block;
	vertical-align: bottom;
	width:25px;
	height:7px;
	background-color: hsla(0,0%,80%,1) ;
	transform: skewX(-10deg);
}
/* .squares li:hover{
	background-color: hsla(0,100%,50%,1) ;
} */
.active{
	 background-color: hsla(0,100%,50%,1)!important;
}